{{docs-hero}}

<div class="docs-container docs-md">
  <section class="docs-max-w-md docs-mx-auto docs-pb-8">
    <h2 class="docs-flex docs-items-center docs-mt-8 docs-h2">Motivation</h2>

    <aside>Looking for the quickstart? {{docs-link "Click here" "docs.index"}}.</aside>

    <p>
      Integrating HelloSign service to your Ember.js app is pretty straight
      forward. Through
      <a href="https://github.com/hellosign/hellosign-embedded"
         rel="noopener"
         class="docs-md__a"
         target="_blank">
        hellosign-embedded library
      </a>.
    </p>

    <p>
      This addon aims at making the integration even easier by providing you
      with a component ready-to-use.
    </p>

    <div class="docs-my-16 docs-text-right">
      {{#link-to
        "docs"
        class="docs-bg-grey-darkest hover:docs-bg-black docs-text-white docs-py-2 docs-px-4 docs-no-underline docs-rounded"
      }}
        Read the docs →
      {{/link-to}}
    </div>
  </section>
</div>
